
<h1>About US</h1>
<div class="jumbotron">
<p><strong> Book cost effective print advertising in minutes</strong></p>

Adverts Market is an online marketplace that allows advertisers to run newspaper and print ads in daily and weekly newspapers.  
Whether you’re advertising your business in small 1 column by 2 inch ads or large quarter or full page ads, we have a solution for you.
<br>
Traditionally, buying newspaper advertising space is a labor-intensive process involving numerous phone calls, discussion of column inches and rates cards and other specs. With a simple online portal, Adverts Market makes it easier to plan, procure and traffic newspaper advertising through a <strong>web-based</strong> interface.
<br>
<strong>Why Newspapers?</strong>
<br>
Newspaper advertising is a great complement to Digital, allowing you to expand the reach of your marketing campaigns.
<br>
In fact, every day about 50% of Americans reads a newspaper.  On Sunday, that number increases -- beyond the reach of the Superbowl.
+ Newspaper ads are considered trustworthy, more than any other medium,
+ 85% of readers say they have bought something advertised in the newspaper.
+ and Readers are highly engaged when reading the newspaper
<br>
Newspapers allow you to communicate to your target customers in a rich display format, whether you want to announce a promotion or sale, generate awareness for a new product, or change customer perceptions of your company or brand.
<br>
<strong>Here’s how Adverts Market works:</strong>
<br>
First, you need an account. Log into Adverts.Market and search for newspapers by city or state or enter a newspaper name or restrict your search by circulation, newspaper section, ad size or publication type.
<br>
We’ve partnered with over 600 newspapers across the globe that have an with aggregate circulation of over 36 million. 
Including large newspapers like The New York Times, LA Times, San Francisco Chronicle and Washington Post as well as  smaller community newspapers, college papers, free dailies, Spanish-language papers, and weeklies.
<br>
Compare the newspapers by circulation and, and then select the newspapers you want.
<br>
Then select desired section of the newspaper, ad size, and days of the week.
<br>
You’ll see the newspapers listed rate price on the right.  Then name your “bid” – the price you’re willing to pay for the ad insertion.
<br>
You can also set a campaign budget, and you’ll only be charged up to the budget you set.
<br>
Adverts.Market isn't an auction --  so you are not competing with other advertisers for ad space.
Instead, your offer will be reviewed individually by the newspaper
<br>
Publishers will respond (generally, within a day or two) by accepting your bid or initiating discussions about why your bid was not accepted. 
<br>
  If you bid is rejected, the publisher may provide feedback and you can choose to submit new bids based on these discussions.
<br>
  If your bid is accepted, you upload your B&W ad and the newspaper publisher prints your ad.
<br>
If you have your own ad, you can upload it into Adverts.Market.
<br>
Don’t have an ad?  Don’t worry, you can create an ad in minutes using our ad creation tools.  Just enter text and upload an image or logo. Then we’ll generate several layouts for you to choose from.
<br>
<br>
Finally, once your ads are published, you’ll be able to download and view electronic copies of your ads as they were printed on the page.
<br>
<br>
Ready to reach new customers with newspaper ads?
 Try Adverts Market today - print ads made easy.








</p>
</div>

